body {
    /* Maximum height of what is visible */
    height: 100vh;   
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}